<h1>comment!!!</h1>
<% author = @comment.author %>
<p>
  posted by <a href="<%= user_url(author) %>"><%= author.username %></a> 
  at <%= @comment.created_at %>
</p>

<p><%= @comment.body %></p>
<hr>
<%= render "form", 
    :comment => Comment.new, 
    :album_id => @comment.album_id,
    :parent_comment_id => @comment.id %>