<% action = (user.persisted?) ? user_url(user) : users_url %>
<% message = (user.persisted?) ? "update" : "sign up" %>


<% user.errors.full_messages.each do |error| %>
  <h3 style="color:red"><%= error %></h3>
<% end %>

<form action="<%= action %>" method="POST">
  <% if user.persisted? %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

  <input 
    type="hidden" 
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input
    type="text" 
    name="user[email]" 
    id="user_email"
    value="<%= user.email %>">
  <label for="user_email">email</label>

  <br>

  <input
    type="text" 
    name="user[username]" 
    id="user_username"
    value="<%= user.username %>">
  <label for="user_username">username</label>

  <% unless user.persisted? %>
    <br>
    <input type="password" name="user[password]" id="user_password">
    <label for="user_password">password</label>
  <% end %>

  <br>
  <br>

  <input type="submit" value="<%= message %>">

</form>