<% action = (user.persisted?) ? user_url(user) : users_url %>
<% message = (user.persisted?) ? "update" : "sign up" %>
<% heading = (user.persisted?) ? "update account details" : "sign up" %>

<% user.errors.full_messages.each do |error| %>
  <h4 style="color:red"><%= error %></h4>
<% end %>

<form class="form-signin" action="<%= action %>" method="POST">
  <h1 class="form-signin-heading center"><%= heading %></h1>

  <% if user.persisted? %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

  <input 
    type="hidden" 
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input
    type="text" 
    class="form-control"
    name="user[email]" 
    id="user_email"
    value="<%= user.email %>">
  <label for="user_email">email</label>

  <br>

  <input
    type="text" 
    class="form-control"
    name="user[username]" 
    id="user_username"
    value="<%= user.username %>">
  <label for="user_username">username</label>

  <% unless user.persisted? %>
    <br>
    <input type="password" class="form-control" name="user[password]" id="user_password">
    <label for="user_password">password</label>
  <% end %>

  <br>

  <div class="center">
    <input type="submit" class="btn btn-primary form-control" value="<%= message %>">
  </div>

</form>