<% id = (rand * 100000).to_i %>

<form action="<%= users_url %>" method="POST">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input
    type="hidden"
    name="user[email]"
    value='<%= "guest#{id}@guest.com" %>'>

  <input type="hidden" name="user[username]" value='<%= "guest#{id}" %>'>

  <input
    type="hidden"
    name="user[password]"
    value="<%=
    SecureRandom::urlsafe_base64(16)%>">

  <div class="center">
    <input type="submit" class="btn btn-success form-control" value="sign in as a guest">
  </div>

</form>
