<h1>details for user '<%= @user.username %>'</h1>

<h2>uploaded images</h2>

<div style="width:600px">
  <% @user.images.each do |image| %>
    <a href="<%= image_url(image) %>">
      <img src="<%= image.file.url(:small) %>">
    </a>
  <% end %>
</div>

<% if current_user && current_user.id == @user.id %>

  <p>username: <%= @user.username %></p>
  <p>email address: <%= @user.email %></p>
  <p>password: TOP SECRET but maybe you can reset it later</p>
  <a href="<%= edit_user_url(@user) %>">update your account details</a>
<% end %>