<% action = (album.persisted?) ? album_url(album) : albums_url %>
<% message = (album.persisted?) ? "update album" : "create album" %>

<form action="<%= action %>" method="POST" enctype="multipart/form-data">
  <% if album.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input
    type="text"
    name="album[title]"
    id="album_title"
    value="<%= album.title %>">
  <label for="album_title">album title (optional)</label>
  <br>

  <textarea
    name="album[description]"
    id="album_description"
    rows="4"
    cols="40"><%= album.description %></textarea>
  <label for="album_description">album description (optional)</label>
  <br>
  <br>

  <% if album.persisted? %>
    <% album.images.each_with_index do |image, i| %>
      <%= render "image_form", :image => image, :i => i %>
    <% end %>
  <% else %>
    <h3>(include at least one image)</h3>
    <br>
    <%= render "image_form", :image => Image.new, :i => 0 %>
  <% end %>

  <br>

  <button class="btn btn-default" id="append-image-form">add another image</button>

  <br>
  <br>
  <input class="btn btn-primary" type="submit" value="<%= message %>">
</form>

<script type="text/javascript">
  var i = 1;
  $('form').on('click', '#append-image-form', function (event) {
    event.preventDefault();
    $(this).before(JST['images/_form']({ i:i }));
    i++;
  });
</script>
