<% if image.persisted? %>
  <input type="hidden" name="album[images_attributes[<%= i %>][id]]" %>
  <img src="<%= image.file.url(:small) %>">
  <input type="checkbox"
    name="album[images_attributes[<%= i %>][_destroy]]"
    id="image_destroy"
    value="true">
  <label for="image_destroy">delete image?</label>
  <br>
<% else %>
  <input type="file" name="album[images_attributes[<%= i %>][file]]" id="image_file_<%= i %>">
  <br>
<% end %>

<input
  type="text"
  name="album[images_attributes[<%= i %>][title]]"
  id="image_title"
  value="<%= image.title %>">
<label for="image_title">image title (optional)</label>

<br>

<textarea
  name="album[images_attributes[<%= i %>][description]]"
  id="image_description"
  rows="4"
  cols="40"><%= image.description %></textarea>
<label for="image_description">image description (optional)</label>

<br>
<br>
