<h1><%= @album.title %></h1>
<p><%= @album.description %></p>
<p>created by: 
  <a href="<%= user_url(@album.creator) %>"><%= @album.creator.username %></a>
</p>
<hr>

<% @album.images.each do |image| %>
  <h3><%= image.title %></h3>
  
  <a href="<%= image_url(image) %>">
    <img src="<%= image.file.url(:medium) %>" alt="<%= image.description %>">
  </a>
  
  <p><%= image.description %></p>
<% end %>

points: <%= @album.points %>
<a href="<%= upvote_album_url(@album) %>">|⇧|</a>
<a href="<%= downvote_album_url(@album) %>">|⇩|</a>
<a href="<%= favorite_album_url(@album) %>">|favorite|</a>


<hr>
<% if current_user && @album.creator_id == current_user.id %>
  <a href="<%= edit_album_url(@album) %>">edit this album</a>
  <br>
<% end %>

<%= render "comments/form", 
    :comment => Comment.new, 
    :album_id => @album.id,
    :parent_comment_id => nil %>
<br>

<h2>comments:</h2>  
<%= render "comments", 
    :album => @album, 
    :comments => @album.comments_by_parent_id[nil] %>

