<h1><%= @album.title %></h1>
<p><%= @album.description %></p>
<hr>

<% @album.images.each do |image| %>
  <h3><%= image.title %></h3>
  
  <a href="<%= image_url(image) %>">
    <img src="<%= image.file.url(:medium) %>" alt="<%= image.description %>">
  </a>
  
  <p><%= image.description %></p>
<% end %>

<hr>
<% if current_user && @album.creator_id == current_user.id %>
  <a href="<%= edit_album_url(@album) %>">edit this album</a>
  <br>
<% end %>

<%= render "comments/form", :comment => Comment.new, :album_id => @album.id %>
<br>

<h2>comments:</h2>  
<%= render "comments", 
    :album => @album, 
    :comments => @album.comments_by_parent_id[nil] %>

