<h1><%= @album.title %></h1>
<p><%= @album.description %></p>
<hr>

<% @album.images.each do |image| %>
  <h3><%= image.title %></h3>
  
  <a href="<%= image_url(image) %>">
    <img src="<%= image.file.url(:medium) %>" alt="<%= image.description %>">
  </a>
  
  <p><%= image.description %></p>
<% end %>

<% if current_user && @album.user_id == current_user.id %>
  <a href="<%= edit_album_url(@album) %>">edit this album</a>
<% end %>