<div class="row">
  <div class="col-lg-9 center"><h1>top albums</h1></div> 
</div>

<div class="col-lg-9">
<% albums.each(function (album, index) { %>
  <% if (index % 6 == 0) { %>
  <% } %>
    <a 
      href="<%= '#/albums/' + album.id %>"
      class="album-link"
      data-title="<%= album.escape('title') || 'Untitled' %>"
      data-content="creator: <%= album.get('creator').username %> 
        | points: <%= album.escape('points') %>">
      <img 
        class="img-thumbnail" 
        src="<%= album.get('images').first().escape('url_small') %>">
    </a>  
  <% if (index > 0 && index % 6 == 0) { %>
    </div>
    <div class="col-lg-9">    
  <% } %>
<% }); %>
</div>

<script type="text/javascript">
  $(function() {
    $(".album-link").popover({
      trigger: "hover",
      placement: "bottom",
      html: "true"
    });
  });
</script>