<% var upBtnClass = (album.get('upvoted')) ? 'btn-success' : 'btn-default' %>
<% var downBtnClass = (album.get('downvoted')) ? 'btn-success' : 'btn-default' %>
<% var favBtnClass = (album.get('favorited')) ? 'btn-success' : 'btn-default' %>

<div class="col-lg-8">

  <h1><%= album.escape('title') %></h1>
  <h4><%= album.escape('description') %></h4>

  <p>created by: 
    <a href="<%= '#/users/' + album.get('creator_id') %>">
      <%= album.get('creator').username %>
    </a> | 
  points: <%= album.escape('points') %></p>
  
  <button 
    type="button" 
    class="upvote btn <%= upBtnClass %>"
    data-url="<%= 'albums/' + album.id + '/upvote' %>">upvote</button>
  <button 
    type="button" 
    class="downvote btn <%= downBtnClass %>"
    data-url="<%= 'albums/' + album.id + '/downvote' %>">downvote</button>
  <button 
    type="button" 
    class="favorite btn <%= favBtnClass %>"
    data-url="<%= 'albums/' + album.id + '/favorite' %>">favorite</button>
  <hr>

  <% album.get('images').each(function (image) { %>
    <h3><%= image.escape('title') %></h3>
    
    <!-- link to show page/large modal view thing here  -->
    <div class="center">
      <img class="img-thumbnail" src="<%= image.escape('url_medium') %>">
    </div>
    <p><%= image.escape('description') %></p>
  <% }); %>


  <hr>
<!-- edit album link goes here -->

  <h2>comments:</h2>
  <%= JST['albums/_comments']({
      album: album, 
      comments: album.getCommentsByParentId()[null]
    }) %>
</div>