<% action = (image.persisted?) ? image_url(image) : images_url %>
<% message = (image.persisted?) ? "update image" : "upload image" %>

<form action="<%= action %>" method="POST" enctype="multipart/form-data">
  <% if image.persisted? %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

  <input 
    type="hidden" 
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <% unless image.persisted? %>
    <input type="file" name="image[file]" id="image_file">
    <br>
  <% end %>

  <input
    type="text" 
    name="image[title]" 
    id="image_title"
    value="<%= image.title %>">
  <label for="image_title">title (optional)</label>

  <br>

  <textarea 
    name="image[description]" 
    id="image_description"
    rows="4"
    cols="40"><%= image.description %></textarea>
  <label for="image_description">description (optional)</label>

  <br>
  <br>

  <input type="submit" value="<%= message %>">

</form>