<% action = (image.persisted?) ? image_url(image) : images_url %>
<% message = (image.persisted?) ? "update image" : "add image" %>


<% image.errors.full_messages.each do |error| %>
  <h3 style="color:red"><%= error %></h3>
<% end %>

<form action="<%= action %>" method="POST" enctype="multipart/form-data">
  <% if image.persisted? %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

  <input 
    type="hidden" 
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input
    type="text" 
    name="image[title]" 
    id="image_title"
    value="<%= image.title %>">
  <label for="image_title">title</label>

  <br>

  <input
    type="text" 
    name="image[description]" 
    id="image_description"
    value="<%= image.description %>">
  <label for="image_description">description</label>

  <% unless image.persisted? %>
    <br>
    <input type="file" name="image[file]" id="image_file">
  <% end %>

  <br>
  <br>

  <input type="submit" value="<%= message %>">

</form>