<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="navbar-header">
    <%= link_to "trvrgur", "/#", :id => "logo", :class => "navbar-brand" %>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="inverse" href="/#/albums/random">
          <span class="glyphicon glyphicon-random"></span>
        </a>          
      </li>
      <li>
        <a class="inverse" href="<%= new_album_url %>">
          <span class="glyphicon glyphicon-cloud-upload"></span>
        </a>          
      </li>
      <% if current_user.nil? %>

        <li>
          <a href="<%= new_session_url %>">
            sign in    <span class="glyphicon glyphicon-log-in"></span>
          </a>
        </li>
        <li>
          <a href="<%= new_user_url %>">
            sign up    <span class="glyphicon glyphicon-plus-sign"></span>
          </a>
        </li>

      <% else %>

        <li>
          <a href="#/users/<%= current_user.id %>">
            <%= current_user.username %>    <span class="glyphicon glyphicon-user"></span>
          </a>
        </li>
        <li>
          <% signout_string = "sign out    <span class='glyphicon glyphicon-log-out'></span>".html_safe %>
          <%= link_to signout_string, session_url, :method => :delete %>
        </li>

      <% end %>
    </ul>
  </div>
</nav>