<!DOCTYPE html>
<html>
<head>
  <title>trvrgur</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless current_user.nil? %>
  <ul>
    <li>
      logged in as: <a href="<%= user_url(current_user) %>">
        <%= current_user.username %>
      </a>
    </li>
    <li><%= button_to "sign out", session_url, :method => :delete %></li>
  </ul>
<% end %>

<% flash[:errors].try(:each) do |error| %>
  <h3 style="color:red"><%= error %></h3>
<% end %>

<% flash[:notices].try(:each) do |notice| %>
  <h3 style="color:green"><%= notice %></h3>
<% end %>

<%= yield %>

</body>
</html>
