<!DOCTYPE html>
<html>
<head>
  <title>trvrgur</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>

<div class="container">
  <% flash[:alerts].try(:each) do |alert| %>
    <h3 style="color:red"><%= alert %></h3>
  <% end %>

  <% flash[:notices].try(:each) do |notice| %>
    <h3 style="color:green"><%= notice %></h3>
  <% end %>
  <div id="content">
    <%= yield %>
  </div>
</div>

</body>
</html>
